.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.keyboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 10px;
}

.keyboard-button {
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-color: #282c34;
  border: 1px solid #282c34;
  color: white;
}

.keyboard-button:hover {
  background-color: #61dafb;
  color: #282c34;
}

.keyboard-button:active {
  background-color: #282c34;
  color: #61dafb;
}

.keyboard-button:focus {
  background-color: #282c34;
  color: #61dafb;
}

.display {
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  color: rgb(12, 81, 104);
}
.App-link {
  color: #61dafb;
}

